<%- include("./header") %>
<div class="container my-3 bg-light text-danger border border-danger">
<h1 class="font-weight-bolder display-3" > <%=p1 %> is not found in the list!!</h1>
</div>
<%- include("./footer") %>